body {
    background-color: rgb(40, 30, 49);
    color: antiquewhite
}


hero {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #57645d;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#current-weather {
  margin-top: 20px; /* Adjust as needed */
}

#forecast {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
  margin-top: 20px; /* Adjust as needed */
}

.forecast-item {
  flex: 0 0 auto;
  margin-right: 10px; /* Adjust as needed */
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.search-history {
  margin-top: 30px; /* Adjust as needed */
}

.forecast-item, .current-weather-card {
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
}

.search-history-button, #clear-history-button {
  background-color: #57645d; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 10px;
}

.search-history-button:hover, #clear-history-button:hover {
  background-color: #45a049;
}