body {
    background-color: rgb(40, 30, 49);
    color: #faebd7
}


hero {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #57645d;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#current-weather {
  margin-top: 20px; /* Adjust as needed */
}



#forecast {
  display: flex;
  flex-wrap: wrap; /* Allow forecast items to wrap to the next line */
  justify-content: space-between; /* Distribute items evenly along the main axis */
}

.forecast-item {
  flex-basis: calc(33.33% - 10px); /* Set initial width of each item */
  margin-bottom: 20px; /* Add some space between forecast items */
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box; /* Include padding and border in the element's total width */
}

.search-history {
  margin-top: 30px; /* Adjust as needed */
}

.forecast-item, .current-weather-card {
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
}

.search-history-button, #clear-history-button {
  background-color: #57645d; /* Green */
  border: none;
  color: #faebd7;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 10px;
}

.search-history-button:hover, #clear-history-button:hover {
  background-color: #000000;
}

/* Media query for screens smaller than 768px (typical mobile screens) */
@media screen and (max-width: 768px) {
  .container {
    padding: 10px;
  }

  .forecast-item, .current-weather-card, .search-history-button, #clear-history-button {
    width: 100%; /* Make forecast items, current weather card, and buttons full width */
  }

  .forecast-item, .current-weather-card {
    margin-bottom: 20px; /* Increase margin between forecast items and current weather card */
  }
}

@media screen and (max-width: 768px) {
  .forecast-item {
    flex-basis: calc(50% - 10px); /* Set initial width of each item for smaller screens */
  }
}