body {
    background-color: rgb(58, 45, 70);
    color: antiquewhite
}


hero {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(87, 100, 93);
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#current-weather {
  margin-top: 20px; /* Adjust as needed */
}

#forecast {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
  margin-top: 20px; /* Adjust as needed */
}

.forecast-item {
  flex: 0 0 auto;
  margin-right: 10px; /* Adjust as needed */
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.search-history {
  margin-top: 20px; /* Adjust as needed */
}